

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  background: #ebf2f5;
}

:root {
  font-size: 62.5%;
}

body,
input,
button,
textarea {
  font: 400 11.8rem/1 'Nunito', sans-serif;
}

body {
  font-size: 1em;
}
